.wrapper {
  color: rgb(230, 230, 230);
  margin-left: 40px;
  margin-right: 80px;
  margin-top: 20px;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 55px;
  margin-bottom: 50px;

  @media (max-width: 428px) {
    margin-left: 10px;
    width: 400px;
    font-size: 18px;
    line-height: 30px;
  }
}

.li {
  cursor: pointer;
  border-style: solid;
  border-width: 0.1px;
  background-color: #252931;
  border-radius: 5px;
  list-style-type: none;

  @media (max-width: 428px) {
    margin-top: 20px;
    margin-left: 5px;
  }
}

.li2 {
  cursor: pointer;
  list-style-type: none;

  @media (max-width: 428px) {
    margin-top: 20px;
    margin-left: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.li2:hover {
  border-radius: 8px;
  background-color: rgb(52, 60, 80);

  @media (max-width: 428px) {
    background-color: #1c212b;
  }
}

.li2:active {
  @media (max-width: 428px) {
    background-color: #646464;
  }
}

.title {
  margin-left: 10px;
  line-height: -10px;
}
.title2 {
  margin-left: 10px;
  line-height: -10px;
  color: #646464;
}

.checkbox {
  background-color: red;
}

.input {
  margin: 0px 10px 10px 20px;
  font-size: 18px;
  width: 500px;
  height: 35px;
  border-radius: 5px;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(255, 255, 255);
  background-color: #262d3b;
  outline: none;
  color: white;

  @media (max-width: 428px) {
    width: 220px;
    margin: 0px 10px 0px 20px;
    font-size: 16px;
  }
}

.button {
  font-size: 18px;
  background-color: rgb(69, 89, 123);
  color: white;
  padding: 10px;
  border-radius: 8px;
  margin-right: 5px;

  @media (max-width: 428px) {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    padding: 10px
  }
}
.button:hover {
  color: rgb(255, 157, 0);
}

.removeButton {
  font-size: 18px;
  background-color: rgb(69, 102, 102);
  color: white;
  padding: 6px;
  border-radius: 7px;
  margin-bottom: 5px;
  padding: 5px 10px 5px 10px;
}
.removeButton:hover {
  color: rgb(190, 0, 0);
  cursor: pointer;
}

.time {
  color: rgb(255, 255, 255);
  float: right;
  margin: 0px 10px 0px 0px;
  font-size: 25px;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
  margin-top: 0px;
}
.time:hover {
  color: rgb(242, 255, 0);
}

.mainTitle {
  color: white;

  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 40px;

  @media (max-width: 428px) {
    font-size: 17px;
    margin-top: 120px;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 15px;
  }
}

.h1 {
  color: white;
  margin-left: 150px;
  font-size: 40px;
}

.category {
  font-size: 14px;
  color: rgb(153, 152, 152);
  margin: -30px 0px -10px 30px;
}

.untill {
  color: rgb(251, 113, 0);
  font-size: 15px;
}

.calendar {
  margin-left: 50px;
  margin-top: 20px;
  margin-right: 10px;
}

.clearCalendar {
  margin: 0px 0px 0px 10px;
}

.clear2 {
  border-style: solid;
  border-width: 0.5px;
  border-color: #d3d3d3;
  border-radius: 5px;
  color: rgb(139, 139, 139);
  padding: 6px;
  margin-left: 15px;
}

.fromDate {
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  color: rgb(148, 148, 148);
  margin-left: 30px;
  margin-top: -25px;

  @media (max-width: 428px) {
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    color: rgb(148, 148, 148);
    margin-left: 30px;
    margin-top: -5px;
  }
}

.emptyIcon {
  margin-left: 135px;

  @media (max-width: 428px) {
    display: flex;
    margin: auto;
  }
}

.descriptionEmpty {
  font-size: 25px;
  margin: -10px 0px 0px 70px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

  @media (max-width: 428px) {
    text-align: center;
    margin: 10px 0px 0px 0px;
  }
}

.runMan {
  width: 42px;
  vertical-align: middle;
}

.filter {
  border-style: solid;
  border-width: 0.1px;
  border-color: #ffffff;
  margin: 0px 0px 0px 10px;
  padding: 7px;
  cursor: pointer;
  color: rgb(255, 123, 0);
}
.filter2 {
  border-style: solid;
  border-width: 0.1px;
  border-color: #ffffff;
  margin: 0px 0px 0px 10px;
  padding: 7px;
  cursor: pointer;
}

.fil {
  margin: 0px 0px 0px 150px;
  
  @media (max-width: 428px) {
    margin: 0px 0px 0px 70px;
  }
  
}



