.wrapper {
  margin-left: 30px;

  @media (max-width: 415px) {
    margin-left: 10px;
    width: 400px;
    font-size: 16px;
    line-height: 25px;
  }
}

.li {
  font-size: 20px;
  cursor: pointer;

  color: white;
  list-style-type: none;  
  text-decoration: none;
  padding: 10px;
  line-height: 40px;

}

.li:hover{
  background-color: #2d3545;
  padding: 10px;
  border-radius: 10px;

  @media (max-width: 415px) {
    background-color: #1c212b
  }
}

.li:active {
  @media (max-width: 415px) {
    background-color: #a6a5a5;
  }
  
}

.link {
  text-decoration: none;
  color: white;
}


.addPlitka {
  margin-top: 50px;
  margin-left: 100px;
}

.h1 {
  color: white;
  text-align: center;

  @media (max-width: 415px) {
    font-size: 17px;
    margin-top: 160px;
    font-family: 'Times New Roman', Times, serif;
  }
}

.input {
  font-size: 18px;
  padding: 5px;
  width: 350px;
  height: 25px;
  border-radius: 5px;

  @media (max-width: 415px) {
    width: 200px;
    margin-left: -80px;
    font-family: 'Times New Roman', Times, serif;
  }
}

.buttonPlitka {
  font-size: 18px;
  margin-left: 10px;
  background-color: rgb(69, 89, 123);
  color: white;
  padding: 10px;
  border-radius: 8px;

  @media (max-width: 415px) {
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
  }
}

.hr {
  margin-top: 50px;
}

.delete {
  font-size: 22px;
  margin-left: -33px;
  padding: 7px;
  cursor: pointer;
  color: rgb(131, 20, 20);
  border-color: black;
}
.delete:hover{
  color: white;
}

.fromData {
  color: #6f6f6f;
  font-size: 16px;
  margin-left: 22px;
  margin-top: -12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  @media (max-width: 415px) {
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
  }
}



