.wrapperHeader {
  height: 100px;

  @media (max-width: 415px) {
    margin-top: 25px;
  }
}

.button {
  float: right;
  color: rgb(253, 253, 253);
  margin-top: 30px;
  margin-right: 15px;
  font-size: 21px;
  padding: 15px;
  border-radius: 7px;
  background-color: #1c212b;
  border-style: solid;
  border-width: 0.5px;
  text-decoration: none;

  @media (max-width: 414px) {
    text-align: center;
    display: flex;
    flex-direction: column;
    float: none;
    margin: 10px 10px 0px 15px;
    font-size: 22px;
    min-width: 100px;
  }
}

.currentButton {
  float: right;
  color: rgb(253, 253, 253);
  margin-top: 30px;
  margin-right: 15px;
  font-size: 21px;
  padding: 15px;
  border-radius: 7px;
  background-color: #1c212b;
  border-style: solid;
  border-width: 0.5px;
  text-decoration: none;
  
  @media (max-width: 415px) {
    text-align: center;
    display: flex;
    flex-direction: column;
    float: none;
    margin: 10px 10px 0px 15px;
    font-size: 22px;
    min-width: 100px;
  }
}

.buttonDel {
  @media (max-width: 415px) {
    text-align: center;
    display: flex;
    flex-direction: column;
    float: none;
    margin: 10px 10px 0px 10px;
    font-size: 20px;
    min-width: 150px;
  }
}

.nav {


  @media (max-width: 415px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Два столбца с равной шириной */
    grid-gap: 0px; /* Дополнительное пространство между элементами, если нужно */
  }
}
