.wrapper {
  color: rgb(230, 230, 230);
  margin-left: 80px;
  margin-right: 80px;
  margin-top: -10px;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 55px;
  margin-bottom: 50px;  

  @media (max-width: 415px) {
    margin-left: 10px;
    width: 400px;
    font-size: 16px;
    line-height: 25px;
  }
}

.li {
  cursor: pointer;
  border-style: solid;
  border-width: 0.1px;
  background-color: #252931;
  border-radius: 5px;
  list-style-type: none;  

  @media (max-width: 415px) {
    margin-top: 20px;
    color: red;
  }
}

.li2{
  cursor: pointer;
  list-style-type: none;

  @media (max-width: 415px) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 20px;
  }
}
.li2:hover {
  border-radius: 8px;
  background-color: rgb(52, 60, 80);
}

.title {
  margin-left: 10px;
}

.checkbox {
  background-color: red;
}

.input {
  margin: 30px 10px 30px 50px;
  font-size: 18px;
  width: 500px;
  height: 30px;
  border-radius: 5px;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(255, 255, 255);

  .placaholder {
    color: red;
  }
}

.button {
  padding: 10px;
  font-size: 17px;
  border-radius: 7px;
  background-color: darkslategrey;
  color: white;
}
.button:hover {
  border-style: solid;
  border-color: white;
  border-width: 0.5px;
}

.removeButton {
  font-size: 18px;
  background-color: rgb(69, 102, 102);
  color: white;
  padding: 6px;
  border-radius: 7px;
  margin-bottom: 5px;
  padding: 5px 10px 5px 10px;
}
.removeButton:hover {
  color: rgb(190, 0, 0);
  cursor: pointer;
}

.time {
  color: rgb(255, 255, 255);
  float: right;
  margin: 0px 10px 0px 0px;
  font-size: 25px;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
  margin-top: -60px;
}
.time:hover {
  color: rgb(242, 255, 0);
}

.mainTitle {
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.h1 {
  color: white;
  margin-left: 150px;
  font-size: 40px
}

.category {
  font-size: 14px;
  color: rgb(111, 111, 111);
  margin: -30px 0px -10px 50px;

  @media (max-width: 415px) {
    margin-top: -5px;
    line-height: 40px;
  }
}

.buttonDeleteForever {
  margin-left: 40px;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  color: rgb(109, 109, 109);
  cursor:  default;
}

.buttonDeleteForeverStart {
  margin-left: 40px;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  color: rgb(255, 128, 0);
  cursor: pointer;
}

.buttonDeleteForeverStart:hover {
  background-color: #414761;
}

.dataFormat {

  @media (max-width: 415px) {
    font-size: 14px;
    color: #7b7b7b;
    margin-top: -25px;
    display: none;
  }
}

.data2Format {
   display: none;
  @media (max-width: 415px) {
    font-size: 14px;
    color: #626262;
    display: contents;
  }
}

.popup {
  margin-bottom: 30px;
}

